# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff

[submodule "web/caddy/static/tools/Stardew-Valley-Item-Finder"]
	path = web/caddy/static/tools/Stardew-Valley-Item-Finder
	url = https://github.com/gucci-on-fleek/Stardew-Valley-Item-Finder.git
