# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2025 Max Chernoff
[Unit]
Description=Forces Overleaf to restart

[Timer]
OnActiveSec=6h
OnUnitActiveSec=6h

[Install]
WantedBy=timers.target
