# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Unit]
Description=Update Analytics Requests
After=update-analytics.target
Upholds=update-analytics.target
Wants=update-analytics-pre.service
After=update-analytics-pre.service

StartLimitIntervalSec=5min
StartLimitBurst=2

[Service]
Type=oneshot
StandardInput=file:%h/caddy/access.log
ExecStart=sh -c "jq --raw-output --slurp '.[-10000:] | .[] | [(.ts | todateiso8601), (.request | .host + .uri, .headers.Referer[0], .headers.\"User-Agent\"[0]), .status] | @tsv' | grep -Fv 'woodpecker.maxchernoff.ca/api/' | awk -F'\\t' '!($5==301 || $5==418)'"
StandardOutput=truncate:%h/caddy/static/analytics/requests.tsv
StandardError=journal

CapabilityBoundingSet=
NoNewPrivileges=true
PrivateDevices=true
PrivateNetwork=true
PrivateTmp=true
ProtectHome=true
PrivateUsers=true
ProtectProc=invisible
ProtectSystem=strict
SystemCallFilter=@system-service

Restart=on-failure
RestartSec=1min

[Install]
WantedBy=update-analytics.target
