# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Unit]
Description="Update TeX Live"

[Timer]
OnBootSec=5min
OnUnitActiveSec=8h
Unit=update-texlive.service

[Install]
WantedBy=timers.target
