# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2025 Max Chernoff
[Unit]
Description=Update TeX Live
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update-texlive.sh
ExecStart=/usr/local/bin/update-context.sh
ExecStart=restorecon -RDT0 %h/texlive %h/context-installer/tex

CapabilityBoundingSet=
NoNewPrivileges=true
# PrivateDevices=true  # TODO: SELinux
# PrivateTmp=true
ReadWritePaths=/tmp/
PrivateUsers=true
ProtectProc=invisible
ProtectSystem=strict
