/*!- regexReplaceAll `/\*[^\0]*?\*\/|\s*\n\s*|([^-\w)])\s+` `/**/
/* Source Code for maxchernoff.ca
 * https://github.com/gucci-on-fleek/maxchernoff.ca
 * SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
 * SPDX-FileCopyrightText: 2024 Max Chernoff
 */

:root {
    /* All of the colors that we can use */
    --color-light: hsl(32, 98%, 92%);
    --color-light-semi: hsl(32, 35%, 65%);
    --color-light-faded: hsl(32, 20%, 40%);
    --color-dark: hsl(32, 80%, 8%);
    --color-dark-semi: hsl(32, 35%, 28%);
    --color-dark-faded: hsl(32, 20%, 60%);
    --color-blue: hsl(213, 90%, 33%);
    --color-purple: hsl(280, 90%, 37%);
    --color-light-blue: hsl(213, 85%, 75%);
    --color-light-purple: hsl(280, 84%, 75%);

    --heading-ratio: 0.7071067811865476;
    --heading-base: 2.5rem;
    --margin-big: 1.75rem;
    --margin-small: 0.5rem;
    --base-font-size: 1.125rem;
    --page-margin: 15px;
    --max-page-width: 55rem;
    --margin-width: calc((100vw  - var(--max-page-width)) / 2);
}

@media (max-width: 55rem) {
    :root {
        --margin-width: var(--page-margin);
    }
}

:root {
    /* Default (light mode) */
    --color-background: var(--color-light);
    --color-text: var(--color-dark);
    --color-link: var(--color-blue);
    --color-link-followed: var(--color-purple);
    --color-faded: var(--color-dark-faded);
    --color-semi: var(--color-dark-semi);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark mode */
        --color-background: var(--color-dark);
        --color-text: var(--color-light);
        --color-link: var(--color-light-blue);
        --color-link-followed: var(--color-light-purple);
        --color-faded: var(--color-light-faded);
        --color-semi: var(--color-light-semi);
    }

    svg, img.dark {
        filter: invert(1) hue-rotate(180deg) saturate(140%) !important;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

[hidden] {
    /* Ensure that 'hidden' elements are really hidden */
    display: none !important;
}

[hidden][aria-hidden="false"], .skip-link:not(:focus) {
    /* Make hidden elements with aria-hidden=false only visible to screen readers */
    position: absolute;
    display: initial !important;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
}

html {
    color: var(--color-text);
    background-color: var(--color-background);
}

a:link {
    color: var(--color-link);
    text-decoration: none;
}

a:visited {
    color: var(--color-link-followed);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    /* Center all content in the viewport */
    display: grid;
    justify-items: center;
    margin: var(--page-margin);
    font-size: var(--base-font-size);

    /* Use the default system-ui font, when available */
    font-family: 'Segoe UI', ui-sans-serif, system-ui, sans-serif;
    line-height: 1.4; /* Slight Enlargement */
    hyphens: auto;
    font-variant-ligatures: common-ligatures contextual;
    font-kerning: normal;
}

body * {
    min-width: 0;
}

:focus-visible {
    border-radius: 4px;
    outline: 2px solid var(--color-text);
    outline-offset: 2px;
}

::selection {
    background-color: var(--color-faded);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-faded) var(--color-background);
}

h1 {
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: max(var(--heading-base), var(--base-font-size));
    padding-bottom: 0.1em;
    border-bottom: 1px solid var(--color-faded);
    font-weight: 700;
}

h2 {
    font-size: max(calc(
        var(--heading-base) *
        var(--heading-ratio)
    ), var(--base-font-size));
    font-weight: 700;
    margin-top: var(--margin-big);
    margin-bottom: var(--margin-small);
}

h3 {
    font-size: max(calc(
        var(--heading-base) *
        var(--heading-ratio) *
        var(--heading-ratio)
    ), var(--base-font-size));
    font-weight: 700;
    margin-top: var(--margin-big);
    margin-bottom: var(--margin-small);
}

h4 {
    font-size: max(calc(
        var(--heading-base) *
        var(--heading-ratio) *
        var(--heading-ratio) *
        var(--heading-ratio)
    ), var(--base-font-size));
    font-weight: 500;
    font-style: italic;
    margin-top: var(--margin-big);
    margin-bottom: var(--margin-small);
}

h5 {
    font-size: calc(var(--base-font-size) * 0.9);
    font-weight: 500;
    color: var(--color-semi);
    margin-top: var(--margin-big);
    margin-bottom: var(--margin-small);
}

:is(h1, h2, h3, h4, h5) + * {
    margin-top: 0;
}

p {
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-small);
}

code {
    font-family: ui-monospace, Consolas, Inconsolata, "Roboto Mono", "Fira Mono", monospace;
    overflow-wrap: anywhere;
    hyphens: none;
}

section,
header,
footer,
article,
body nav {
    display: block;
    width: 100%;
    max-width: var(--max-page-width);
}

code.block {
    display: block;
    max-width: 100%;
}

footer {
    margin-top: 1em;
    padding-top: 0;
    border-top: 1px solid var(--color-faded);
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    list-style-type: none;
    padding: 0;
}

footer ul li:first-of-type {
    margin-right: auto
}

footer li:not(:last-child):not(:first-child)::after {
    content: " • ";
}

abbr {
    text-decoration: none;
    font-variant-caps: all-small-caps;
    font-variant-numeric: oldstyle-nums;
    font-size: 1.075em;
}

svg {
    width: 100%;
    height: fit-content;
    max-height: 90vh;
    padding: 1rem;
    background-color: hsla(0, 0%, 100%, 0%);
    filter: invert(0) hue-rotate(0deg) saturate(120%);
    transition: all 250ms ease-out;
}

svg:hover, img.dark:hover {
    background-color: hsla(0, 0%, 100%, 100%);
    filter: invert(0) hue-rotate(0deg) saturate(100%) !important;
    transition: all 250ms ease-in;
}

pre {
    max-width: calc(100vw - var(--page-margin) * 2);
    overflow-x: auto;
    hyphens: none;
    margin: calc(2 * var(--margin-small)) 0;
}

pre.scroll {
    overflow-y: auto;
    max-height: 90vh;
}

.hscroll {
    overflow-x: auto;
    max-width: 100%;
}

.vscroll {
    overflow-y: auto;
    max-height: 90vh;
}

thead th {
    font-weight: 700;
}

td, th {
    padding: 0 1ch;
    white-space: nowrap;
}

li {
    margin-bottom: var(--margin-small);
    padding-left: var(--margin-small);
}

figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

figcaption {
    font-style: italic;
}

p {
    position: relative;
}

@media (min-width: 70em) {
    span.sidenote {
        float: left;
        font-size: 80%;
        text-align: right;

        position: absolute;
        --sidenote-width: calc(var(--margin-width) /**/ - 1rem - var(--page-margin));
        width: var(--sidenote-width);
        left: calc(-1 * var(--sidenote-width) /**/ - 1rem);
        top: 0;
    }
}

@media (max-width: 70em) {
    span.sidenote {
        display: block;
        font-size: 80%;
        margin-top: 1em;
        margin-left: 3em;
    }
}

/* Hide the whitespace between elements */
nav ul {
    font-size: 0;
}

nav li {
    list-style: none;
    font-size: var(--base-font-size);
    padding-left: 0;
}
/* End hide whitespace */

nav > ul {
    padding-left: 0;
}

nav ul ul ul li {
    font-style: italic;
}

nav ul ul ul li, ul.inline > li {
    display: inline;
    list-style-type: none;
    padding-left: 0;
}

@media (min-width: 55rem) {
    nav ul ul ul li, ul.inline > li {
        white-space: nowrap;
    }
}

@media (pointer: coarse) {
    nav li {
        line-height: 2;
    }

    nav li::before {
        padding-right: 1ch;
        padding-left: 1ch;
    }
}

ul.inline {
    padding-left: 0;
}

:is(nav ul ul ul li, ul.inline > li):not(:first-child)::before {
    content: " • ";
}

dd {
    margin-bottom: var(--margin-small);
}

dd > p {
    margin-top: 0;
}

dl.bold > dt {
    font-weight: 500;
}

header p {
    font-style: italic;
    position: absolute;
    right: var(--margin-width);
}

summary {
    font-weight: 500;
    list-style-position: outside;
}

/* Syntax Highlighting */
.chroma .p {
    color: var(--color-semi);
}

.chroma .cl {
    color: var(--color-text);
}

@media not (prefers-color-scheme: dark) {
    .chroma :is(.c, .c1, .ch, .cm, .cp, .cpf, .cs) {
        color: #515151;
    }

    .chroma :is(.err, .gd, .nv, .sr, .vc, .vg, .vi) {
        color: #a12236;
    }

    .chroma :is(.k, .kc, .kd, .kn, .kp, .kr, .ne, .ow) {
        color: #6730c5;
    }

    .chroma :is(.bp, .il, .kt, .l, .ld, .m, .mb, .mf, .mh, .mi, .mo, .nd, .nl, .vm) {
        color: #7f4707;
    }

    .chroma :is(.n, .nn, .nx, .pm, .w) {
        color: var(--color-text);
    }

    .chroma :is(.dl, .ni, .o, .s, .s1, .s2, .sa, .sb, .sc, .sd, .se, .sh, .si, .sx, .gi, .nb) {
        color: #00622f;
    }

    .chroma :is(.fm, .gh, .gu, .nc, .nf, .no, .nt, .py, .ss) {
        color: #005b82;
    }

    .chroma .gp {
        color: #005b82;
        font-weight: 500;
        user-select:none;
    }

    .chroma .ge {
        font-style: italic;
    }

    .chroma .gs {
        font-weight: 700;
    }

    .chroma .na {
        color: #912583;
    }
}

@media (prefers-color-scheme: dark) {
    .chroma :is(.c, .c1, .ch, .cm, .cp, .cpf, .cs, .gu) {
        color: #949076;
    }

    .chroma .err {
        background-color: #1e0010;
        color: #eb0083;
    }

    .chroma :is(.k, .kc, .kd, .kp, .kr, .kt, .no) {
        color: #66d9ef;
    }

    .chroma .gp {
        color: #66d9ef;
        font-weight: 700;
        user-select:none;
    }

    .chroma :is(.il, .l, .m, .mb, .mf, .mh, .mi, .mo, .se) {
        color: #ae81ff;
    }

    .chroma :is(.bp, .n, .ni, .nl, .nn, .nv, .py, .vc, .vg, .vi, .vm, .w) {
        color: var(--color-text);
    }

    .chroma :is(.gd, .kn, .nt, .o, .ow) {
        color: #f94e8a;
    }

    .chroma .ge {
        font-style: italic;
    }

    .chroma :is(.fm, .gi, .na, .nc, .nd, .ne, .nf, .nx, .nb) {
        color: #a6e22e;
    }

    .chroma .gs {
        font-weight: 700;
    }

    .chroma :is(.dl, .ld, .s, .s1, .s2, .sa, .sb, .sc, .sd, .sh, .si, .sr, .ss, .sx) {
        color: #e6db74;
    }

}

/** /` "${1}" -!*/
