# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Unit]
After=network-ready.service
After=container@bootc-builder.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=%h/containers/fedora-iot/build.sh

[Install]
WantedBy=update-all.target
