# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Unit]
After=podman.socket network-ready.service
Requires=podman.socket

StartLimitIntervalSec=15min
StartLimitBurst=2

[Service]
Type=oneshot
RemainAfterExit=no

ExecStart=/usr/local/bin/build-container \
    --directory=%h/containers/%i \
    --tag=%i:latest \
    --config=%h/containers/build-container.toml

Restart=on-failure
RestartSec=5min

[Install]
WantedBy=update-all.target
