# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Unit]
After=network-ready.service
After=container@bootc-builder.service

[Service]
Type=oneshot
RemainAfterExit=no

ExecStart=podman run \
    --cap-add=NET_ADMIN \
    --cap-add=SYS_ADMIN \
    --device=/dev/fuse \
    --env=CONTAINERS_CONF_OVERRIDE=/root/source/containers.conf \
    --network=pasta:-T,23719 \
    --pull=always \
    --rm \
    --security-opt=label=disable \
    --volume=/etc/containers/:/etc/containers/:ro \
    --volume=%h/.cache/rpm-ostree/:/var/cache/rpm-ostree:rw,z \
    --volume=%h/containers/fedora-iot/:/root/source/:ro \
    maxchernoff.ca/bootc-builder:latest \
    /root/source/container-build.sh

[Install]
WantedBy=update-all.target
