# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2025 Max Chernoff
[Unit]
After=network-ready.service

[Service]
Type=oneshot
RemainAfterExit=no

ExecStart=%h/containers/victoria/pull-and-copy.sh quay.io/victoriametrics/victoria-logs

[Install]
WantedBy=update-all.target
