# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Unit]
After=podman.socket network-ready.service
Requires=podman.socket

StartLimitIntervalSec=15min
StartLimitBurst=2

[Service]
Type=oneshot
RemainAfterExit=no

ExecStart=podman build \
    --disable-compression=false \
    --no-cache \
    --pull=always \
    --security-opt=label=role:user_r \
    --security-opt=label=user:user_u \
    --tag=maxchernoff.ca/%i:latest \
    --volume=/var/home/tex/context:/opt/context:ro \
    --volume=/var/home/tex/texlive:/opt/texlive:ro \
    --volume=%h/.cache/go-build/:/root/.cache/go-build/:rw,z \
    --volume=%h/.cache/go-modules/:/go/:rw,z \
    --volume=%h/.cache/podman-dnf/:/var/cache/libdnf5/:rw,z \
    %h/containers/%i/

ExecStart=skopeo copy \
    --all \
    --dest-tls-verify=false \
    --dest-compress-format=zstd:chunked \
    --dest-compress-level=5 \
    --dest-precompute-digests \
    --sign-by-sigstore=/var/home/repo/credentials/builder/sigstore-builder.yaml \
    --sign-identity=maxchernoff.ca/%i:latest \
    containers-storage:maxchernoff.ca/%i:latest \
    docker://localhost:!!registry.port!!/%i:latest

Restart=on-failure
RestartSec=5min

[Install]
WantedBy=update-all.target
