# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2026 Max Chernoff
[Unit]
Description=Fix /etc after first boot
DefaultDependencies=false
ConditionFirstBoot=true

Before=sysinit.target
Before=dbus-broker.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=chmod a+rx /etc
ExecStart=restorecon -vRF /etc /var

[Install]
WantedBy=sysinit.target
