# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Unit]
Description=Emails me a message when a service fails
StartLimitIntervalSec=12h
StartLimitBurst=1

[Service]
Type=oneshot
RemainAfterExit=no
ExecCondition=sh -c 'systemctl list-jobs | grep -vE "shutdown|reboot|poweroff"'
ExecStart=/usr/local/bin/email-failure %i
