{
    email mseven@telus.net
    default_sni www.maxchernoff.ca
}

maxchernoff.ca {
    redir https://www.{host}{uri}
}

www.maxchernoff.ca {
    encode zstd gzip
    templates
    root * /srv
    file_server
}
