# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2025 Max Chernoff
[Match]
Name=lo

[Network]
Description=Internal Networks

# For hosting Prometheus metric endpoints
[Address]
Address=!!prometheus.subnet!!
Scope=host

# For hosting an internal email server
[Address]
Address=!!email.ipv4!!/32
Scope=host
