# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2026 Max Chernoff

[Unit]
Description=Copies the network configuration from the ESP

ConditionPathExists=/usr/lib/initrd-release
DefaultDependencies=no
After=sysefi.mount systemd-network-generator.service
Wants=sysefi.mount systemd-network-generator.service
Before=systemd-networkd.service

[Service]
Type=oneshot
ExecStart=sh -c 'cp /sysefi/loader/*.network /run/systemd/network/'
ExecStart=sh -c 'echo "nameserver 1.1.1.1" >> /etc/resolv.conf'
ExecStart=sh -c 'echo "nameserver 2606:4700:4700::1001" >> /etc/resolv.conf'

[Install]
WantedBy=systemd-networkd.service
