# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2026 Max Chernoff

[Unit]
Description=Mounts the EFI System Partition

ConditionPathExists=/usr/lib/initrd-release
Conflicts=initrd-switch-root.target
After=systemd-udevd.service
Wants=systemd-udevd.service

[Mount]
What=/dev/disk/by-designator/esp
Where=/sysefi
Type=vfat
