# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2025 Max Chernoff
[Container]
Image=quay.io/prometheuscommunity/systemd-exporter:latest

# Give the container access to the systemd private socket.
UserNS=keep-id
User=%U
Volume=%t/systemd/private:/run/systemd/private:ro

# Command-line arguments
Exec=\
    --systemd.collector.enable-restart-count \
    --systemd.collector.private \
    --systemd.collector.unit-exclude=".+\\.(device|mount|swap|automount|scope)"

# Give a broken PublishPort to force the individual units to override it.
PublishPort=INVALID-INVALID-INVALID

# Sandboxing
DropCapability=all
Network=private
NoNewPrivileges=true
ReadOnly=true
ReadOnlyTmpfs=false
SecurityLabelType=local_systemd_exporter.process

# Default inherited values
AutoUpdate=registry
Timezone=local

[Service]
Restart=always
