[Container]
Image=docker.io/library/mongo:5.0
Volume=%h/overleaf/mongo:/data/db:Z
AutoUpdate=registry
Pod=overleaf.pod
Network=overleaf.network
UserNS=nomap

Exec=--replSet overleaf
HealthCmd=mongosh --quiet --eval 'rs.hello().setName ? rs.hello().setName : rs.initiate({_id: "overleaf",members:[{_id: 0, host:"systemd-overleaf-mongo:27017"}]})'
HealthInterval=60s
HealthRetries=5
HealthTimeout=10s

[Service]
Restart=always
TimeoutStartSec=300
