# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Container]
Image=docker.io/sharelatex/sharelatex:5
Volume=%h/overleaf/overleaf:/var/lib/overleaf:Z,noexec
Tmpfs=/var/lib/overleaf/tmp
Volume=/var/home/tex/texlive:/usr/local/texlive/2024:ro,exec,nosuid
AutoUpdate=registry
Pod=overleaf.pod
Network=overleaf.network
UserNS=nomap

StopTimeout=60
HealthCmd=curl -sfL http://localhost/
HealthInterval=60s
HealthRetries=5
HealthTimeout=10s
HealthOnFailure=stop

Environment="EMAIL_CONFIRMATION_DISABLED=true"
Environment="ENABLE_CONVERSIONS=true"
Environment="ENABLED_LINKED_FILE_TYPES=project_file,project_output_file"
Environment="GRACEFUL_SHUTDOWN_DELAY_SECONDS=5"
Environment="KILL_ALL_PROCESSES_TIMEOUT=15"
Environment="KILL_PROCESS_TIMEOUT=15"
Environment="OVERLEAF_ADMIN_EMAIL=Max Chernoff"
Environment="OVERLEAF_APP_NAME=Overleaf"
Environment="OVERLEAF_BEHIND_PROXY=true"
Environment="OVERLEAF_MONGO_URL=mongodb://systemd-overleaf-mongo/sharelatex?directConnection=true"
Environment="OVERLEAF_PASSWORD_VALIDATION_MIN_LENGTH=12"
Environment="OVERLEAF_REDIS_HOST=systemd-overleaf-redis"
Environment="OVERLEAF_RESTRICT_INVITES_TO_EXISTING_ACCOUNTS=true"
Environment="OVERLEAF_SECURE_COOKIE=true"
Environment="OVERLEAF_SITE_URL=https://overleaf.maxchernoff.ca"
Environment="PATH=/usr/local/texlive/2024/bin/x86_64-linux:/bin/:/sbin/"
Environment="REDIS_HOST=systemd-overleaf-redis"

[Unit]
Requires=overleaf-mongo.service overleaf-redis.service
After=overleaf-mongo.service overleaf-redis.service

[Service]
Restart=always
TimeoutStartSec=300
TimeoutStopSec=20
Wants=overleaf-network.service overleaf-mongo.service overleaf-redis.service
After=overleaf-network.service overleaf-mongo.service overleaf-redis.service

[Install]
Also=overleaf-network.service overleaf-mongo.service overleaf-redis.service
