# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Container]
Image=docker.io/woodpeckerci/woodpecker-agent:v3
Network=pasta:-T,!!woodpecker.port!!
SecurityLabelType=container_runtime_t

Volume=%h/woodpecker/config:/etc/woodpecker:rw,Z,noexec
Volume=%t/podman/podman.sock:/var/run/docker.sock:rw,z

Environment="WOODPECKER_BACKEND_DOCKER_ENABLE_IPV6=true"
Environment="WOODPECKER_BACKEND_DOCKER_NETWORK=pasta:-T,587"
Environment="WOODPECKER_BACKEND_DOCKER_VOLUMES=/var/home/tex/texlive:/opt/texlive:ro,/var/home/tex/context:/opt/context:ro"
Environment="WOODPECKER_MAX_WORKFLOWS=4"
Environment="WOODPECKER_SERVER=127.0.0.1:!!woodpecker.port!!"
EnvironmentFile=/var/home/repo/credentials/woodpecker/woodpecker_agent_secret

[Service]
Restart=always
ExecStartPre=podman unshare chgrp 1 %t/podman/podman.sock
RestartSec=5s
RestartMaxDelaySec=60s
RestartSteps=5

[Unit]
After=podman.socket
Requires=podman.socket
StartLimitIntervalSec=300s
StartLimitBurst=5

[Install]
WantedBy=default.target
