# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Container]
Image=maxchernoff.ca/caddy:latest
AutoUpdate=registry
StopTimeout=10
Notify=true

DropCapability=all
AddCapability=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ReadOnly=true
ReadOnlyTmpfs=false
UserNS=nomap

Volume=%h/caddy/etc:/etc/caddy:ro,noexec
Volume=%h/caddy/static:/srv:ro,noexec
Volume=%h/caddy/data:/data:rw,Z,noexec
Volume=%h/caddy/access.log:/var/log/caddy/access.log:rw,z,noexec
Volume=%h/caddy/config:/config:rw,Z,noexec

Network=caddy.network
Network=container-registry.network
Network=flask.network
Network=overleaf.network
Network=woodpecker.network
Network=knot.network

[Service]
Restart=always
TimeoutStopSec=15s

[Unit]
After=network-ready.service
Requires=caddy.socket
After=caddy.socket

[Install]
WantedBy=default.target
Also=caddy-network.service
