# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2025 Max Chernoff
[Container]
Image=maxchernoff.ca/caddy:latest
StopTimeout=10
Notify=true

ReadOnly=true
ReadOnlyTmpfs=false

EnvironmentFile=/var/home/repo/credentials/web/caddy_tsig
EnvironmentFile=/var/home/repo/credentials/web/caddy_http_credentials
Environment="GODEBUG=multipathtcp=1"

Volume=%h/caddy/etc:/etc/caddy:ro,noexec
Volume=%h/caddy/static:/srv:ro,noexec
Volume=%h/caddy/data:/data:rw,Z,noexec
Volume=%h/caddy/logs:/var/log/caddy/:rw,z,noexec
Volume=%h/caddy/config:/config:rw,Z,noexec

Network=caddy.network
Network=container-registry.network
Network=flask.network
Network=overleaf.network
Network=prometheus.network
Network=woodpecker.network

[Service]
Restart=always
TimeoutStopSec=15s

[Unit]
Wants=network-ready.service
After=network-ready.service
Requires=caddy.socket
After=caddy.socket

[Install]
WantedBy=default.target
Also=caddy-network.service
