# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Container]
Image=gcr.io/cadvisor/cadvisor:latest

Network=private
Volume=/sys/fs/cgroup:/sys/fs/cgroup:ro

ReadOnly=true
ReadOnlyTmpfs=false

# Metrics
Exec=\
    -enable_metrics cpu,diskIO,memory,process \
    -port !!prometheus.cadvisor.port!!

PublishPort=!!prometheus.cadvisor.ip!!:!!prometheus.cadvisor.port!!:!!prometheus.cadvisor.port!!

[Service]
Restart=always

[Install]
WantedBy=default.target
