# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2025 Max Chernoff
[Container]
Image=docker.io/library/registry:3
Network=container-registry.network

# Random port number for local-only pushes
PublishPort=127.0.0.1:!!registry.port!!:!!registry.port!!
PublishPort=[::1]:!!registry.port!!:!!registry.port!!

# Config
Volume=%h/container-registry/config:/etc/distribution/:ro,noexec

# Image Storage
Volume=container-registry.volume:/var/lib/registry:rw
Environment="OTEL_LOGS_EXPORTER=none"
Environment="OTEL_METRICS_EXPORTER=none"
Environment="OTEL_TRACES_EXPORTER=none"

# Metrics
PublishPort=!!prometheus.registry.ip!!:!!prometheus.registry.port!!:!!prometheus.registry.port!!

[Service]
Restart=always

[Unit]
Wants=network-ready.service
After=network-ready.service

[Install]
WantedBy=caddy.service
Also=container-registry-network.service
