# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Container]
Image=docker.io/library/registry:2
AutoUpdate=registry
UserNS=nomap
Network=container-registry.network

# Random port number for local-only pushes
PublishPort=127.0.0.1:23719:23719
PublishPort=[::1]:23719:23719
Environment="REGISTRY_HTTP_ADDR=:23719"

# Image Storage
Volume=container-registry.volume:/var/lib/registry:rw
Environment="REGISTRY_STORAGE_MAINTENANCE_UPLOADPURGING={interval: 12h, age: 72h, enabled: true, dryrun: false}"
Environment="REGISTRY_STORAGE_DELETE_ENABLED=true"

[Service]
Restart=always

[Unit]
Wants=network-ready.service
After=network-ready.service

[Install]
WantedBy=caddy.service
Also=container-registry-network.service
