# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2025 Max Chernoff
[Container]
Image=docker.io/library/registry:3
Network=container-registry.network

# Random port number for local-only pushes
PublishPort=127.0.0.1:!!registry.port!!:!!registry.port!!
PublishPort=[::1]:!!registry.port!!:!!registry.port!!
Environment="REGISTRY_HTTP_ADDR=:!!registry.port!!"

# Image Storage
Volume=container-registry.volume:/var/lib/registry:rw
Environment="REGISTRY_STORAGE_MAINTENANCE_UPLOADPURGING={interval: 12h, age: 72h, enabled: true, dryrun: false}"
Environment="REGISTRY_STORAGE_DELETE_ENABLED=true"
Environment="REGISTRY_LOG_LEVEL=warn"
Environment="OTEL_SDK_DISABLED=true"
Environment="OTEL_TRACES_EXPORTER=none"
Environment="OTEL_METRICS_EXPORTER=none"
Environment="OTEL_LOGS_EXPORTER=none"

[Service]
Restart=always

[Unit]
Wants=network-ready.service
After=network-ready.service

[Install]
WantedBy=caddy.service
Also=container-registry-network.service
