# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Container]
Image=ghcr.io/stackexchange/dnscontrol
AutoUpdate=registry
UserNS=nomap

Network=knot.network
IP=10.15.15.222
Volume=%h/dnscontrol:/dns:ro,z

Exec=push --full

[Unit]
After=knot.service
Wants=knot.service
After=network-ready.service

[Service]
Restart=on-failure
Type=oneshot
RemainAfterExit=no

[Install]
Also=knot-network.service
