# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Container]
Image=maxchernoff.ca/flask:latest
StopSignal=SIGINT
Network=flask.network

Volume=%h/flask/:/srv:ro,exec
Volume=/var/home/repo/triggers/:/root/triggers:rw
Exec=/srv/app.py

EnvironmentFile=/var/home/repo/credentials/web/webhook_secret

ReadOnly=true
ReadOnlyTmpfs=false

[Service]
Restart=always

[Unit]
Wants=network-ready.service
After=network-ready.service
After=container-registry.service

[Install]
WantedBy=caddy.service
Also=flask-network.service
