# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Container]
Image=maxchernoff.ca/knot-exporter:latest
StopSignal=SIGINT

Network=private
Volume=%t/knot:/run/knot/:rw,z

User=1000
Group=0

ReadOnly=true
ReadOnlyTmpfs=false

# Metrics
Exec=\
    --web-listen-addr=0.0.0.0 \
    --web-listen-port=!!prometheus.knot.port!!

PublishPort=!!prometheus.knot.ip!!:!!prometheus.knot.port!!:!!prometheus.knot.port!!

[Unit]
Wants=knot.service
After=knot.service

[Service]
Restart=always

[Install]
WantedBy=default.target
