# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Container]
Image=docker.io/cznic/knot:latest
AutoUpdate=registry
UserNS=nomap

Network=pasta
PublishPort=127.0.0.1:5377:53
PublishPort=127.0.0.1:5377:53/udp
PublishPort=152.53.36.213:53:53
PublishPort=152.53.36.213:53:53/udp
PublishPort=[2a0a:4cc0:2000:172::1]:53:53
PublishPort=[2a0a:4cc0:2000:172::1]:53:53/udp

Volume=%h/knot/config:/config:ro,z
Volume=%h/knot/storage:/storage:rw,Z
Volume=%t/knot:/rundir:rw,Z,U

Entrypoint=/usr/sbin/knotd
Exec=

[Unit]
After=network-ready.service

[Service]
ExecStartPre=mkdir -p %t/knot

[Install]
WantedBy=default.target
