# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Container]
Image=docker.io/cznic/knot:latest

Network=private
PublishPort=!!network.ipv4!!:53:53
PublishPort=!!network.ipv4!!:53:53/udp
PublishPort=[!!network.ipv6!!]:53:53
PublishPort=[!!network.ipv6!!]:53:53/udp

# Extra DNS port
PublishPort=[!!network.ipv6!!]:!!dns.altport!!:53
PublishPort=!!network.ipv4!!:!!dns.altport!!:53

Volume=%h/knot/config:/config:ro,z
Volume=%h/knot/storage:/storage:rw,Z
Volume=%t/knot:/rundir:rw,z,U

Entrypoint=/usr/sbin/knotd
Exec=

[Unit]
Wants=network-ready.service
After=network-ready.service

[Service]
Restart=always
ExecStartPre=mkdir -p %t/knot

# Run at a higher priority
!!priorities.high!!

[Install]
WantedBy=default.target
