# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2025 Max Chernoff
[Container]
Image=docker.io/foxcpp/maddy:latest
Entrypoint=["/bin/maddy"]
Exec=-config /etc/maddy/maddy.conf run

User=1000

Volume=%h/maddy/data:/data:rw,Z,noexec
Volume=%h/maddy/config:/etc/maddy:ro,noexec

# Allow external access so that we can send to other MX servers
Network=maddy-external.network
# Internal network to only allow access to Maddy, and not the outside world
Network=email.network
# Let services on the localhost access Maddy
PublishPort=!!email.ipv4!!:587:587

# Metrics
PublishPort=!!prometheus.maddy.ip!!:!!prometheus.maddy.port!!:!!prometheus.maddy.port!!

[Service]
Restart=always

[Unit]
Wants=network-ready.service
After=network-ready.service

[Install]
WantedBy=default.target
