# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2025 Max Chernoff
[Container]
Image=docker.io/library/mongo:6
Volume=%h/overleaf/mongo:/data/db:Z,noexec
AutoUpdate=registry
Pod=overleaf.pod
Network=overleaf.network
UserNS=nomap

Exec=--replSet overleaf
HealthCmd=echo 'db.stats().ok' | mongo localhost:27017/test --quiet
Environment="MONGODB_REPLICA_SET_MODE=primary"
HealthInterval=60s
HealthRetries=5
HealthTimeout=10s
HealthOnFailure=stop

[Service]
Restart=always
TimeoutStartSec=300
