# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2025 Max Chernoff
[Container]
Image=docker.io/library/redis:6
Volume=%h/overleaf/redis:/data:Z,noexec
AutoUpdate=registry
Pod=overleaf.pod
Network=overleaf.network
UserNS=nomap

[Service]
Restart=always
TimeoutStartSec=300
