# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2025 Max Chernoff
[Container]
Image=quay.io/prometheus/prometheus:v3.4.2
Network=prometheus.network

Volume=%h/prometheus/config/:/etc/prometheus/:ro,noexec
Volume=%h/prometheus/data/:/prometheus/:rw,Z,noexec

SecurityLabelType=local_prometheus_container.process

Exec=\
    --config.file=/etc/prometheus/prometheus.yml \
    --enable-feature=promql-experimental-functions \
    --storage.tsdb.path=/prometheus \
    --storage.tsdb.retention.size=10GB

ReadOnly=true
ReadOnlyTmpfs=false

[Service]
Restart=always

[Install]
WantedBy=caddy.service
