[Unit]
Description=Sets the console colours
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/console-colors.sh

[Install]
WantedBy=sysinit.target
