# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Unit]
Description=Gets the server status

[Service]
User=root
StandardOutput=append:/var/home/repo/triggers/get-status.output
StandardError=journal

Type=oneshot
ExecStartPre=/usr/bin/truncate --size 0 /var/home/repo/triggers/get-status.output
ExecStart=/usr/local/bin/web-uptime
ExecStart=/usr/bin/echo
ExecStart=/usr/local/sbin/web-status /var/home/repo/maxchernoff.ca/unit-status.conf

[Install]
WantedBy=multi-user.target
