# Source Code for maxchernoff.ca
# https://github.com/gucci-on-fleek/maxchernoff.ca
# SPDX-License-Identifier: MPL-2.0+ OR CC-BY-SA-4.0+
# SPDX-FileCopyrightText: 2024 Max Chernoff
[Unit]
Description=Install the files from the server Git repository
After=pull-repo.service
Requires=pull-repo.service

[Service]
User=root
Type=oneshot
ExecStart=/usr/sbin/restorecon -vr /var/usrlocal/lib/ /var/usrlocal/sbin/
ExecStart=/usr/local/sbin/web-install /home/repo/maxchernoff.ca/install-rules.toml
ExecStart=/usr/bin/systemctl --system daemon-reload
ExecStart=/usr/bin/systemctl --user --machine "builder@" daemon-reload
ExecStart=/usr/bin/systemctl --user --machine "max@" daemon-reload
ExecStart=/usr/bin/systemctl --user --machine "repo@" daemon-reload
ExecStart=/usr/bin/systemctl --user --machine "tex@" daemon-reload
ExecStart=/usr/bin/systemctl --user --machine "web@" daemon-reload
ExecStart=/usr/bin/systemctl --user --machine "woodpecker@" daemon-reload
ExecStart=/usr/sbin/restorecon -vr /var/usrlocal/lib/ /var/usrlocal/sbin/ /var/usrlocal/bin/
