{
	default_sni www.maxchernoff.ca
}

(default) {
	encode zstd gzip
	header {
		Cache-Control max-age=3600
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
	}
}

maxchernoff.ca {
	import default
	redir https://www.{host}{uri}
}

www.maxchernoff.ca {
	import default

	try_files {path}.html {path}
	root * /srv
	file_server {
		hide /includes/
	}

	@css path *.css
	templates @css {
		mime text/css
		between /*! !*/
	}

	@p path /p/*
	header @p Link "</style.css>; rel=\"preload\"; as=\"style\""
	templates @p
	rewrite @p /p/index.html
	rewrite / /p/index

	handle_errors {
		rewrite * /p/error.html
		templates
		file_server
	}
}

overleaf.maxchernoff.ca {
	import default
	reverse_proxy systemd-overleaf-overleaf:80
}
